# {{ansible_managed}}
root ALL=(ALL:ALL) ALL
{% for i in sudo_users %}
{{i}} ALL=(ALL) {{"NOPASSWD: " if sudo_nopasswd else ""}}ALL
{% endfor %}
{% if sudo_extra_lines %}
{% for i in sudo_extra_lines %}
{{ i }}
{% endfor %}
{% endif %}
