/**
 * To see boxing use show_layout.css (use template_show_boxes.html)
 * TODO: put in grey border around left and right column?
 */

body
{
	background-color: #fff;
	margin: 0;
	padding: 0;
	margin-left: 3px;
	margin-top: 3px;
	font-family: Arial, Georgia, "Hoefler Text", Times, "Times New Roman", Serif;
	font-size: 100%;
	color: #222;
	
	line-height: 1.5;
}

/*
## ============================================================================
## Banner
## ============================================================================
*/

div#div_banner
{
	padding: 0;
	margin: 0;
	padding-bottom: 10px;
	padding-top: 12px;
	padding-left: 0px;
	background-color: #888;
	/* height: 80px; */
}

div#div_banner h1
{
	font-size: 23.5pt;
	/* in mx this is c0c064 but hey */
	color: #c0c024;
	/* same margin as middle column below */
	margin-left: 202px;
	/* make width same as middle column */
	width: 500px;
	margin-top: 5px;
	line-height: 1.2;
	text-align: center;
}
	
div#div_banner span.tagline
{
	font-size: 0.5em;
	font-style: italic;
}

div#div_logo
{
	background: url( '../images/logo.png' ) no-repeat;
	float: left;
	width: 80px;
	height: 75px;
	margin-left: 70px;
}

#div_logo span
{
	display: none;
}

/*
## ============================================================================
## Main Section
## ============================================================================
*/

div#div_main-section
{
	margin-top: 2px;
	/* light grey */
	/* background-color: rgb(230,226,217); */
	background-color: rgb(104,143,113);
	/* border: 5px solid rgb(230,226,217); */
}

div#div_column-left
{
	/* background-color: rgb(104,143,113); */
	background-color: transparent;
	float: left;
	width: 190px;
			
	padding: 4px;
	margin: 2px;
	padding-top: 6px;
	
	font-size: 0.7em;
	color: #fff;
}

div#div_column-left ul
{
	padding-left: 20px;
}

#div_column-left a, #div_column-left a:link
{
	color: #fff;	
}

div#div_column-left h2, div#div_column-left h3
{
	border-top: solid 2px rgb(189,187,138);
	padding-top: 4px;
}

div#div_column-middle
{
	background-color: #fff;
	
	margin: 0;
	padding: 0;
	
	margin-left: 202px;
	/* sort out quirks in IE. Need some top padding or suddenly push this down relative to left menu */
	padding-top: 2px;
	
	/* max-width: 500px; */
	width: 500px;
	
	font-size: 0.9em;
}

/* 
 * hack to deal with 3px jog in IE see 
 * http://www.positioniseverything.net/explorer/threepxtest.html 
 */
 
/* Hide from IE5-mac. Only IE-win sees this. \*/

* html div#div_column-left
{
	/* might need to put in new right margin here */
}

* html div#div_column-middle
{
	height: 1%;
	margin-left: 0;
}

/* End hide from IE5/mac */

div#div_content
{
	background-color: #fff;
	/* need to ensure that even in pages with little content the menus 
	   on l and r are displayed ok */
	min-height: 250px;
	
	margin: 0;
	padding: 20px;
	padding-top: 5px;

	/* margin-left: 10px;*/
	
	font-size: 0.9em;
}
/*
#div_content li
{
	margin-top: 7px;
}

#div_content li li
{
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 1;
}
*/

div#div_footer
{
	background-color: #d2d2d2;
	margin: 0;
	margin-top: 30px;
	margin-right: 2px;
	margin-left: 2px;
	padding: 15px;
	font-size: 0.75em;
	line-height: 1.7;
	text-align: center;
}

div#div_footer img
{
	border: none;
	height: 20px;
	width: 50px;
}

/*
## ****************************************************************************
## TYPOGRAPHY
## ****************************************************************************
*/

a
{
	font-size: 1em;
	text-decoration: none;
}
    
a:link
{
	color: navy;
	text-decoration: underline;
	font-weight: bold;
}

a:visited
{
	color:#981e1c;
	text-decoration: underline;
}

a:hover
{
	color: #d72b27;
	text-decoration: underline;
}

/*
## ============================================================================
## MAIN CONTENT SECTION
## ============================================================================
*/

#div_content h1, #div_content h2, #div_content h3, #div_content h4
{
	display: block;
	font-weight: bold;
	margin: 0.7em 0;
}

#div_content h1
{
	font-size: 1.7em;
	text-align: center;
}

#div_content h2
{
	font-size: 1.5em;
	/* color: #d72b27; */
}

#div_content h3
{
	font-size: 1.3em;
}

#div_content h4
{
	font-size: 1.1em;
}

#div_content dt {
	font-weight: bold;
	font-size: 1.1em;
}

#div_content table
{
	padding-bottom: 10px;
}

#div_content td
{
	vertical-align: top;
}

#div_content blockquote
{
	background: #eee;
	margin: 0 4em;
	padding: 3px 5px 3px 10px;
	border-left: 2px dotted #d72b27;
	border-right: 2px dotted #d72b27;
}