mailer-daemon: postmaster
postmaster: root
nobody: root
hostmaster: root
usenet: root
news: root
webmaster: root
www: root
ftp: root
abuse: root
noc: root
security: root
root: sysadmin-alert@okfn.org
{% if postfix_additional_aliases is defined %}
{{ postfix_additional_aliases }}
{% endif %}
