backup_rsync_target: {{ backup_rsync_target }}
{% if hostvars[host]['mysql_exclude_dbs'] is defined %}
mysql_exclude_dbs: {% for db in mysql_exclude_dbs %}{{ db }} {% endfor %}
{% endif %}
{% if hostvars[host]['mysql_host'] is defined %}
mysql_host: {{ mysql_host }}
mysql_port: {{ mysql_port }}
{% endif %}
