backup_rsync_target: {{ backup_rsync_target }}

{% if hostvars[inventory_hostname]['psql_db_admin'] is defined %}
psql_db_admin: {{ psql_db_admin }}
{% endif %}

{% if hostvars[inventory_hostname]['psql_exclude_dbs'] is defined %}
psql_exclude_dbs: {% for db in psql_exclude_dbs %}{{ db }} {%endfor %}
{% endif %}

{% if hostvars[inventory_hostname]['psql_host'] is defined %}
psql_host: {{ psql_host }}
{% endif %}
