log file = /var/log/rsyncd.log
hosts allow = {% for host in groups['mysql-servers'] %}{% if hostvars[host]['backup_scripts'] is defined %}{{ hostvars[host]['private_ip'] }}, {% endif %}{% endfor %}

hosts deny = *
list = true
uid = root
gid = root
read only = false

[mysql_backups]
path = /home/backup/mysql_backups
comment = MySQL backups directory
