[google]
user = {{ system_script_gmail_user }}
pass = {{ system_script_gmail_pass }}
blog_site_admins_doc  = {{ blog_site_admins_doc }}

[other]
csv = {{ blog_site_admins_csv_url }}
default_list_admin = {{ blogsites_ml_default_admin }}

[rackspace]
okfn_readonly = {{ okfn_readonly }}
okfnmanaged_readonly = {{ okfnmanaged_readonly }}
okfnaumanaged_readonly = {{ okfnaumanaged_readonly }}

[graphite]
host={{ graphite_server }}
