###############################################################################
# contacts.cfg
###############################################################################



###############################################################################
###############################################################################
#
# CONTACTS
#
###############################################################################
###############################################################################

# In this simple config file, a single contact will receive all alerts.

define contact{
        name                            generic-contact
        service_notification_period     24x7
        host_notification_period        24x7
        service_notification_options    u,c,r,f
        host_notification_options       d,r,f,s
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        }

define contact{
        contact_name                    root
        use                             generic-contact
        email                           sysadmin@okfn.org
        }

define contact{
        contact_name                    nagios-test
        use                             generic-contact
        email                           nagios-test@okfn.org
        }

define contact{
        contact_name                    openspending-admin
        use                             generic-contact
        email                           wdmmg-sysadmin@okfn.org
        }


###############################################################################
###############################################################################
#
# CONTACT GROUPS
#
###############################################################################
###############################################################################

# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.

define contactgroup{
        contactgroup_name       admins
        alias                   Nagios Administrators
        members                 root
        }

define contactgroup{
        contactgroup_name       test
        alias                   Nagios contact for test checks
        members                 nagios-test
        }

define contactgroup{
        contactgroup_name       openspending
        alias                   OpenSpending Admins
        members                 root, openspending-admin
        }
