
#TODO: add a service check for squid on eu6


define service {
	use	generic-service
	hostgroup_name	ssh-nagios-service
	service_description Load Average
	check_command	check_ssh_load!5.0,4.0,3.0!10.0,6.0,4.0

}
define service {
	use	generic-service
	host_name s088
	service_description Disk usage
	check_command	check_ssh_disk!100!50!/
}
define service {
	use	generic-service
	hostgroup_name	ssh-nagios-service
	service_description Mem consumption
	check_command	check_ssh_mem!2300 2400

}
define service {
	use	generic-service
	hostgroup_name	ssh-nagios-service
	service_description Postgresql
	check_command	check_ssh_psql!nagios!n4gi0s!nagios
}
define service {
	use	generic-service
	hostgroup_name	ssh-nagios-service
	service_description Postfix - SMTP service
	check_command	check_ssh_smtp!localhost
}

define service {
    name                            okfn-webservice
    use                             generic-service
    register                        0
    notifications_enabled           1
    contact_groups                  test
}

define service {
    service_description             PING
    hostgroup                       all
  # host_name                       gateway, eu1, us2
    check_command                   check_ping!150.0,20%!500.0,60%
    use                             generic-service
}

define service {
    service_description             SSH
    hostgroup                       all
    check_command                   check_ssh
    use                             generic-service
}

define service {
    service_description             SMTP
    host_name                       eu1
    check_command                   check_smtp
    use                             generic-service
}

define service {
	service_description	squid
	host_name		eu6
	use			generic-service
	check_command		check_blogfarm_reachable
}

define service {
    service_description             HTTP
    host_name                       us1, us2, eu1, eu9, eu13, eu17, s034, s035, s039, u003, blogfarm
    check_command                   check_http
    use                             generic-service
    contact_groups                  admins
}

define service {
    service_description             HTTPS
    host_name                       us1
    check_command                   check_https
    use                             generic-service
}

define service {
    service_description             Munin Node
    host_name                       us1,                eu1, eu5, eu6, eu9
    check_command                   check_tcp!4949
    use                             generic-service
}

define service {
    service_description             FTP
    host_name                       u003
    check_command                   check_ftp
    use                             generic-service
}

