backup_rsync_target: {{ backup_rsync_target }}
mysql_backup_list: {% for db in mysql_backup_list %}{{ db }} {% endfor %}

{% if hostvars[host]['mysql_host'] is defined %}
mysql_host: {{ mysql_host }}
mysql_port: {{ mysql_port }}
{% endif %}
