<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wi="http://www.witbd.org/xmlns/sitebuilder/template">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>The Open Knowledge Foundation - Home Page</title>
	<link rel="stylesheet" href="../site/styles/basic.css" title="basic" type="text/css" media="screen, projection" />

</head>
<body>
	<div id="div_banner">
		<div id="div_logo"><span>OKF</span></div>
		<h1>
			The Open Knowledge Foundation Network
			<br />
			<span class="tagline">
				Protecting and Promoting Open Knowledge in a Digital Age
			</span>
		</h1>
	</div>
	
	<div id="div_main-section">
	
		<div id="div_column-left">
			<h2>
				General Information
			</h2>
			<ul>
				<li>
					<a href="/">
						Home
					</a>
				</li>
				<li>
					<a href="/contact.html">
						Contact
					</a>
				</li>
				<li>
					<a href="/governance.html">
						About the Network
					</a>
				</li>
				<li>
					<a href="http://www.openknowlegdefoundation.org/">
						The Open Knowledge Foundation
					</a>
				</li>
				<li>
					<a href="http://www.openknowledgefoundation.org/three_meanings_of_open.html">
						What is Open Knowledge
					</a>
				</li>
				<li>
					<a href="/wiki/">
						Wiki
					</a>
				</li>
			</ul>
			
			<h2>
				Projects
			</h2>
			<ul>
				<li>
					<a href="/drn/">
						Digital Rights Network
					</a>
				</li>
				<li>
					<a href="/fcd/">
						Friends of the Creative Domain
					</a>
				</li>
				<li>
					<a href="/geo/">
						Open Geo Data
					</a>
				</li>
				<li>
					<a href="/iai/">
						Information Accessibility Initiative
					</a>
				</li>
				<li>
					<a href="/kforge/">
						KnowledgeForge
					</a>
				</li>
				<li>
					<a href="http://www.witbd.org/">
						What is To be Done
					</a>
				</li>
			</ul>
		</div>
		
		<div id="div_column-middle">
			<div id="div_content">
				<wi:Region name="MainContent">
				<h3>
					Our Purpose
				</h3>
				<p>
					The Foundation exists to promote the openness of all forms of knowledge. We work in three particular areas to:
				</p>
				<ol>
					<li>
						To promote freedom of access, creation and dissemination of knowledge.
					</li>
					<li>
						We develop, support and promote projects, communities and tools that foster and facilitate the creation, access to and dissemination of knowledge.
					</li>
					<li>
						We campaign against restrictions both legal and non-legal on the creation, access to and dissemination of knowledge.	
					</li>
					<li>
						We seek to act as an intermediary between governments and other funding institutions and projects working in creation and diffusion of knowledge, particularly those with some strong technological aspect.
					</li>
				</ol>
				What don't you do?
				There are already many foundations, institutes etc that exist to support scholars, artists and other direct creators of knowledge.
				
				<p>
					Lorem
					<br />
					<br />
					Lorem
					<br />
					<br />
					Lorem
					<br />
					<br />
					Lorem
					<br />
					<br />
					Lorem
				</p>
				</wi:Region>
			</div>
			
			<div id="div_footer">
				<a title="Valid XHTML 1.1" href="http://validator.w3.org/check/referer">
					Valid XHTML 1.1</a>
				&nbsp; &ndash; &nbsp;
				<a title="Valid CSS 1/2" href="http://jigsaw.w3.org/css-validator/check/referer">
					Valid CSS</a>
				<br />
				Licensed under a
				<a title="CC License" href="http://creativecommons.org/licenses/by/2.0/">
					CC Attribution License (v2.0)
				</a>
				<br />
				<a href="mailto:info [at] okfn.org">info [at] okfn.org</a>
			</div>
			
		</div>
	</div>
</body>
</html>