<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Language" content="en-gb" />
		<meta name="robots" content="all" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="MSSmartTagsPreventParsing" content="true" />
		
		<title>
			The Open Knowledge Foundation
			<?cs if page.title ?> - <?cs var:page.title ?><?cs /if ?>
		</title>
		
		<rdf:RDF xmlns="http://web.resource.org/cc/"
			xmlns:dc="http://purl.org/dc/elements/1.1/"
			xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
			
			<Work rdf:about="">
				<dc:type rdf:resource="http://purl.org/dc/dcmitype/Text" />
				<license rdf:resource="http://creativecommons.org/licenses/by/2.5/" />
			</Work>
			
			<License rdf:about="http://creativecommons.org/licenses/by/2.5/">
				<permits rdf:resource="http://web.resource.org/cc/Reproduction" />
				<permits rdf:resource="http://web.resource.org/cc/Distribution" />
				<requires rdf:resource="http://web.resource.org/cc/Notice" />
				<requires rdf:resource="http://web.resource.org/cc/Attribution" />
				<permits rdf:resource="http://web.resource.org/cc/DerivativeWorks" />
			</License>
		</rdf:RDF>
		
		
		<?cs if:0 ?>
		<!-- only have this here for template editing -->
		<link href="../site/styles/master.css" rel="stylesheet" type="text/css" media="all" />
		<?cs /if ?>
		
		<link href="/styles/master.css" rel="stylesheet" type="text/css" media="all" />
		
		<script type="text/javascript" src="/scripts/minmax.js"></script>
		
		<!-- Extra header variable -->
		<?cs var:page.extra_header ?>
	</head>
	<body>
	<div id="airlock">
		<div id="top_wrap">
			<div id="top">
				<h1><a href="/">The Open Knowledge Foundation</a></h1>
				<h2>Protecting and Promoting Open Knowledge in a Digital Age</h2>
			</div>
		</div><!-- /top_wrap -->
    <div id="content_wrap"> <!-- added to fix IE bugs -->
		<div id="sidebar">
			<h3>General Information</h3>
			<ul>
              <li><a href="/">Home</a></li>
				<li><a href="/activities.html">Activities</a></li>
				<li><a href="/roadmap.html">Roadmap</a></li>
				<li><a href="http://blog.okfn.org/">Blog and News</a></li>
				<li><a href="/wiki/">Wiki</a></li>
				<li><a href="/about.html">About</a></li>
				<li><a href="/contact.html">Contact</a></li>
				<li><a href="/support.html">Support the Foundation</a></li>
			</ul>
			<h3>Open Knowledge Trail</h3>
			<ul>
				<li><a href="/ok_trail/">Home</a></li>
				<li><a href="/ok_trail/think_again.html">Think Again</a></li>
				<li><a href="/ok_trail/copyright.html">Copyright</a></li>
				<li><a href="/ok_trail/drug_patents.html">Drug Patents</a></li>
				<li><a href="/ok_trail/file_sharing.html">File sharing</a></li>
				<li><a href="/ok_trail/open_source_software.html">Open Source Software</a></li>
				<li><a href="/ok_trail/open_projects.html">Open Information</a></li>
			</ul>
			
			<h3>
				Projects
			</h3>
			<ul>
              <li><a href="/projects.html">Home</a></li>
				<li><a href="/okforums/">Open Knowledge Forums</a></li>
				<li><a href="/okd/">Open Knowledge Definition</a></li>
				<li><a href="/drn/">Digital Rights Network</a></li>
				<li><a href="http://www.freeculture.org.uk/">Free Culture UK</a></li>
				<li><a href="/iai/">Information Accessibility Initiative</a></li>
				<li><a href="/kforge/">KnowledgeForge</a></li>
				<li><a href="/geo/">Open Geodata</a></li>
				<li><a href="http://www.witbd.org/">What is To be Done</a></li>
				<li><a href="/wsfii/">WSFII</a></li>
			</ul>
			
		</div><!-- /sidebar -->
		<div id="content">
			<!-- START:CONTENT -->
			<div id="div_content">
				<?cs var:page.content ?>
			</div>
			<!-- END:CONTENT -->
			<!-- Content inserted for illustrative purposes -->
			<?cs if:0 ?>
			<h1>Heading 1: That goes on a lot, a lot, a lot, a lot, a lot, a lot</h1>
			<h2>Heading 2</h2>
			<h3>Our Purpose</h3>
			<p>
				The Foundation exists to promote the openness of all forms of knowledge. We work in three particular areas to:
			</p>
			<ol>
				<li>To promote freedom of access, creation and dissemination of knowledge.</li>
				<li>We develop, support and promote projects, communities and tools that foster and facilitate the creation, access to and dissemination of knowledge.</li>
				<li>We campaign against restrictions both legal and non-legal on the creation, access to and dissemination of knowledge.</li>
				<li>We seek to act as an <a href="">intermediary between governments</a> and other funding institutions and projects working in creation and diffusion of knowledge, particularly those with some strong technological aspect.</li>
			</ol>
			<h3>What don't you do?</h3>
			<p>
				There are already many foundations, institutes etc that exist to support scholars, artists and other direct creators of knowledge.
			</p>
			<h3>Some more information about the foundation</h3>
			<p>
				Se vices campo nos, es prime resultato traducite nos? Con de deler addresses <strong>immediatemente,</strong> tu qui inviar africa? Al post grammatica con, ample interlingua da con? Commun brevissime le per, de lateres association concretisation uso? Libera appellate vocabulario <acronym title="Interlingua">ILA</acronym> ha del.
			</p>
			<h4>Some lists&hellip;</h4>
			<ul>
					<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
					<li>Nunc hendrerit dui eget lacus.
							<ul>
									<li>Proin iaculis nibh nec massa condimentum molestie.</li>
									<li>Sed egestas enim sed tortor.
											<ul>
													<li>Praesent dictum libero nec ante auctor viverra.</li>
													<li>Aenean tincidunt faucibus dui.</li>
											</ul>	 
									</li>
									<li>Quisque et turpis eu ligula eleifend semper.</li>
							</ul>
					</li>
					<li>Quisque auctor nibh eu enim.</li>
					<li>Praesent dictum libero nec ante auctor viverra.</li>
					<li>Aenean tincidunt faucibus dui.</li>
					<li>Nam aliquet elit vel nisl aliquet congue.</li>
			</ul>
			<?cs /if ?>
		</div><!-- /content -->
    </div><!-- /content_wrap -->
		<div id="clear">
			&nbsp;
		</div><!-- /clear -->
		<div id="footer">
			<p>
				<a title="Valid XHTML 1.1" href="http://validator.w3.org/check/referer">Valid XHTML 1.1</a>
				&mdash;
				<a title="Valid CSS 1/2" href="http://jigsaw.w3.org/css-validator/check/referer">Valid CSS</a>
				<br />
				Licensed under a
				<a title="CC License" href="http://creativecommons.org/licenses/by/2.5/">
					Creative Commons Attribution License (v2.5)
				</a>
				<br />
				info [at] okfn.org
			</p>
		</div><!-- /footer -->
	</div><!-- /airlock --> 
	</body>
</html>
