
body
{
  color: #333;
  font-size: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a:link, a:visited
{
  color: #5E5EC2;
}

a:hover, a:active
{
  color: #6D6DE1;
}

#top h1
{
  color: #000;
  font-size: 6em;
  font-family: Arial, sans-serif;
  margin: 0.2em 0 0 -0.08em;
  padding: 0;
  letter-spacing: -0.1em;
  text-shadow: 3px 3px 1px #9CAAA3;
}

#top h2
{
  color: #9CAAA3;  
  font-family: Tahoma, Arial, sans-serif;
  font-size: 1.4em;
  font-weight: normal;
  margin: 0 0 1em 0;
  padding: 0;  
}

#airlock
{
  font-size: 0.9em;
  margin: 5em 10em 5em 10em;
  padding: 0 2em 1em 2em;
  border: 1px solid #B6BFB6; /* BCCCC4 */
  /* border-left: 1px solid #B6BFB6; */
  background: #DDEBDD; /* DCEFE6 */
}
