/**
 * okfn theme screen css
 * imports okfn master theme
 * adds back in some moinmoin specific stuff (from modern)
 * makes a few tweaks to adapt to moin
 */


@import url("master.css");

/**
 * tweaks
 */

/* moinmoin only provides h2 - h6 in main content section
   so copy #content h1 from master
 */

#content h2
{
  text-align: center;
  line-height: 1.4;
  font-size: 1.8em;
}

#footer_content
{
    margin: 0;
    padding: 0;
    margin-left: 220px;
}

#footer_content a:link, #footer_content a:visited
{
  padding-left: 20px;
  text-decoration: none;
  color: #190859;
  display: block;
}

#footer_content a:hover, #footer_content a:active
{
  text-decoration: underline;
  color: #190859;
}


/**
 * from modern
 */

/* .editbar and pagetrail is as modified for fcuk theme and slightly altered */

#footer_content .editbar {
  border-top: 1px dotted #9C9C9C;
  border-bottom: 1px solid #9C9C9C;
}

.editbar {
  clear: both;
  margin: 0;
  padding: 0 8px;
  white-space: nowrap;
  height: 26px;
  background: white;
}

.editbar form, .editbar form div {
    display: inline;
  margin: 0;
}

.editbar li {
  float: left;
  display: block;
  padding: 0;
  margin: 2px 6px;
}

*[dir="rtl"] .editbar li {
  float: right;
}

#pagetrail {
  margin: 0;
  padding: 0 10px;
    clear: both;
  white-space: nowrap;
  height: 26px;
  background: white;
}

#pagetrail li {
  float: left;
  display: block;
  padding: 0;
  margin: 2px 4px;
  background: white;
}

*[dir="rtl"] #pagetrail {
  float: right;
}

*[dir="rtl"] #pagetrail li:after {
  content: " « ";
}

/* XXX Warning: non-ascii characters! */
#pagetrail li:after {
  content: " » ";
  color: black;
}

/**
  * straight from moinmoin
  */

/* We use here dumb css1 ids because of IE suckiness */
#editor-textarea, #editor-comment {
    width: 100%;
}

#preview {
	border: 1px solid #6C7680;
	padding: 10px 30px 20px 30px;
	background: url(../img/draft.png);
}
