*filter
:ufw-user-input - [0:0]
:ufw-user-output - [0:0]
:ufw-user-forward - [0:0]
:ufw-before-logging-input - [0:0]
:ufw-before-logging-output - [0:0]
:ufw-before-logging-forward - [0:0]
:ufw-user-logging-input - [0:0]
:ufw-user-logging-output - [0:0]
:ufw-user-logging-forward - [0:0]
:ufw-after-logging-input - [0:0]
:ufw-after-logging-output - [0:0]
:ufw-after-logging-forward - [0:0]
:ufw-logging-deny - [0:0]
:ufw-logging-allow - [0:0]
:ufw-user-limit - [0:0]
:ufw-user-limit-accept - [0:0]
### RULES ###

### tuple ### allow any 22 0.0.0.0/0 any 0.0.0.0/0 in
-A ufw-user-input -p tcp --dport 22 -j ACCEPT
-A ufw-user-input -p udp --dport 22 -j ACCEPT

### tuple ### allow any 80 0.0.0.0/0 any 0.0.0.0/0 in
-A ufw-user-input -p tcp --dport 80 -j ACCEPT
-A ufw-user-input -p udp --dport 80 -j ACCEPT

### tuple ### allow any 443 0.0.0.0/0 any 0.0.0.0/0 in
-A ufw-user-input -p tcp --dport 443 -j ACCEPT
-A ufw-user-input -p udp --dport 443 -j ACCEPT

### tuple ### allow any 3306 0.0.0.0/0 any 0.0.0.0/0 in_eth1
-A ufw-user-input -i eth1 -p tcp --dport 3306 -j ACCEPT
-A ufw-user-input -i eth1 -p udp --dport 3306 -j ACCEPT

### tuple ### allow tcp {{ postgres_port }}  0.0.0.0/0 any {{ webserver_private_ip }} in_eth1
-A ufw-user-input -i eth1 -p tcp --dport {{ postgres_port }}  -s {{ webserver_private_ip }} -j ACCEPT
-A ufw-user-input -i eth1 -p tcp --dport {{ solr_port }}  -s {{ webserver_private_ip }} -j ACCEPT
-A INPUT -s {{ munin_server }} -p tcp --dport 4949 -j ACCEPT


### tuple ### allow any any 0.0.0.0/0 any 72.3.128.84 in
-A ufw-user-input -s 72.3.128.84 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 69.20.0.1 in
-A ufw-user-input -s 69.20.0.1 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 120.136.34.22 in
-A ufw-user-input -s 120.136.34.22 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 212.100.225.49 in
-A ufw-user-input -s 212.100.225.49 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 212.100.225.42 in
-A ufw-user-input -s 212.100.225.42 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 50.57.22.125 in
-A ufw-user-input -s 50.57.22.125 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 119.9.4.2 in
-A ufw-user-input -s 119.9.4.2 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 50.56.142.128/26 in
-A ufw-user-input -s 50.56.142.128/26 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 180.150.149.64/26 in
-A ufw-user-input -s 180.150.149.64/26 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 69.20.52.192/26 in
-A ufw-user-input -s 69.20.52.192/26 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 78.136.44.0/26 in
-A ufw-user-input -s 78.136.44.0/26 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 50.57.61.0/26 in
-A ufw-user-input -s 50.57.61.0/26 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 166.78.7.146 in
-A ufw-user-input -s 166.78.7.146 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 50.56.249.239 in
-A ufw-user-input -s 50.56.249.239 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 166.78.107.18 in
-A ufw-user-input -s 166.78.107.18 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 162.209.4.155 in
-A ufw-user-input -s 162.209.4.155 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 95.138.174.55 in
-A ufw-user-input -s 95.138.174.55 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 162.13.1.53 in
-A ufw-user-input -s 162.13.1.53 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 119.9.12.91 in
-A ufw-user-input -s 119.9.12.91 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 119.9.12.98 in
-A ufw-user-input -s 119.9.12.98 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 67.192.155.96/27 in
-A ufw-user-input -s 67.192.155.96/27 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 120.136.33.192/27 in
-A ufw-user-input -s 120.136.33.192/27 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 69.20.80.0/28 in
-A ufw-user-input -s 69.20.80.0/28 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 72.4.123.216 in
-A ufw-user-input -s 72.4.123.216 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 89.234.21.64/28 in
-A ufw-user-input -s 89.234.21.64/28 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 173.203.5.160/27 in
-A ufw-user-input -s 173.203.5.160/27 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 173.203.32.136/29 in
-A ufw-user-input -s 173.203.32.136/29 -j ACCEPT

### tuple ### allow any any 0.0.0.0/0 any 64.49.200.192/27 in
-A ufw-user-input -s 64.49.200.192/27 -j ACCEPT

### END RULES ###

### LOGGING ###
-A ufw-after-logging-input -j LOG --log-prefix "[UFW BLOCK] " -m limit --limit 3/min --limit-burst 10
-A ufw-after-logging-forward -j LOG --log-prefix "[UFW BLOCK] " -m limit --limit 3/min --limit-burst 10
-I ufw-logging-deny -m state --state INVALID -j RETURN -m limit --limit 3/min --limit-burst 10
-A ufw-logging-deny -j LOG --log-prefix "[UFW BLOCK] " -m limit --limit 3/min --limit-burst 10
-A ufw-logging-allow -j LOG --log-prefix "[UFW ALLOW] " -m limit --limit 3/min --limit-burst 10
### END LOGGING ###

### RATE LIMITING ###
-A ufw-user-limit -m limit --limit 3/minute -j LOG --log-prefix "[UFW LIMIT BLOCK] "
-A ufw-user-limit -j REJECT
-A ufw-user-limit-accept -j ACCEPT
### END RATE LIMITING ###
COMMIT
