/*
 * purple top: #867c91
 * green sidebar: #60936b
 */

body
{
  background: #fff url(../images/background_repeat.png) repeat-y top left; 
  font-family: Helvetica, Arial, sans-serif;
  font-size: 90%;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
  text-align: left;
}

a:link, a:visited
{
  text-decoration: underline;
  color: #362185;
}

a:hover, a:active
{
  text-decoration: underline;
  color: #981e1c;
}

ul,ol,p,form,p,blockquote,fieldset,input 
{
  margin: 1em 0 0 0;
}

ul,ol
{
  padding: 0 0 0 30px;
}

ol li
{
  margin: 0.5em 0 0 0;
}

ul li
{
  margin: 0.3em 0 0 0;
}

li ul, li ol
{
  margin: 0.5em 0;
  padding: 0 0 0 2em;
}

#airlock
{
  background: transparent url(../images/logo_and_background.png) no-repeat top left;
}

#top_wrap
{
  height: 176px;
  margin: 0 10px;
  padding: 0;
}

#top
{
  padding: 40px 0 0 0;
  height: 176px;
  /* IE Hack */
  voice-family: "\"}\"";
  voice-family: inherit;
  height: 136px;
}

body>#top
{
  height: 136px;
}

#top h1, #top h2
{
  margin: 0;
  padding: 0;
}

#top h1
{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.6em;
  font-weight: normal;
  margin: 0 0 0 220px;
  min-width: 580px;
  text-align: center;
}

#top h1 a:link, #top h1 a:visited
{
  text-decoration: none;
  color: #fff;
}

#top h1 a:hover, #top h1 a:active
{
  text-decoration: none;
  background: transparent;
  color: #fff;
}


#top h2
{
  color: #fff;
  font-size: 1.3em;
  font-weight: normal;
  /* text-align: center;*/
  margin: 12px 0 0 220px;
  min-width: 580px;
  text-align: center;
}

#sidebar
{
  float: left;
  color: #fff;
  width: 190px;
  margin: 0 0 0 15px;
  padding: 0 0 15px 0;
  font-size: 1.0em;
  line-height: 1.1em;
}

#sidebar h2, #sidebar h3
{
  padding: 0;
}

#sidebar h3 a:link, #sidebar h3 a:visited,
#sidebar h3 a:hover, #sidebar h3 a:active
{
  text-decoration: none;
  color: #fff;
}

#sidebar ul, #sidebar ol
{
  padding: 0 0 0 25px;
  font-size: 0.9em;
}

#sidebar ul li, #sidebar ol li
{
  margin: 0 0 0 0;
}

#sidebar a:link, #sidebar a:visited,
#footer a:link, #footer a:visited
{
  text-decoration: none;
  color: #190859;
}

#sidebar a:hover, #sidebar a:active,
#footer a:hover, #footer a:active
{
  text-decoration: underline;
  color: #6f1817;
}

#content_wrap
{
  margin-top: -30px;
}

#content_wrap:after 
{
  content: ".";  
  display: block; 
  height: 0; 
  clear: both; 
  visibility:hidden;
}

/*  \*/
* html #content_wrap 
{
  height: 1%;
}
/*  */

#content
{
  color: #222;
  margin: 0 30px 0 250px;
  padding: 0 0 20px 0;
  /* Grey line at bottom of content. Unfortunately while in SC browsers this
  aligns correctly with line at bottom of sidebar in IE (surprise, surprise) it
  doesn't
  border-bottom: 3px solid #bcbcbc;
  */
}

/*  \*/
* html #content 
{
  height: 1%;
}
/*  */

#content h1
{
  text-align: center;
  line-height: 1.4;
}

#clear
{
  visibility: hidden;
  height: 0;
  margin: -3px 0 0 0;
}

#footer
{
  text-align: center;
  font-size: 0.8em;
  width: 190px;
  margin: 0 0 0 15px;
  padding: 0;
}

#footer p
{
  line-height: 1.3em;
  border-top: 3px solid #98b2a2;
  margin: 0;
  padding: 15px 0;
}

/*
Text formatting (standard stuff
*/

blockquote
{
  margin-left: 2em;
  margin-right: 2em;
  padding-left: 1em;
  padding-right: 1em;
  border-left: solid 3px #d2d2d2;
}
