/* aontent styles */

/* debug 
* {border: 1px dotted blue;}
*/

html {
    background-color: #eee;
}

body {
    color: #333;
    margin: 0.5em 1.5em;
    background: #eee;
    /* font-family: Helvetica, Tahoma, "Bitstream Vera Sans", sans-serif; */
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Lucida", "Bitstream Vera Sans", Verdana, sans-serif;
    font-size: 0.9em;
    line-height: 1.2em;
    padding: 0 0 2em 0;
}

#wrap {
  background: #fff;
  /* 48 em when font-size = 1em; */
  width: 53.3em;
  margin: 0 auto;
  padding: 0;
}

input {
    font-size: 1em;
    font-family: Arial, Lucida Grande, sans-serif;
}

textarea {
    font-size: 1em;
    font-family: monospace;
}

.disabled {
    /* IE ignore disabled attribute, but at least show items in gray */
    color: gray;
}

/* user interface styles */

#header {
    margin: 0;
    padding: 0;
    background: #feed93 url(../images/top-linerepeat.png) repeat-x top left;
}

#logo {
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Lucida", "Bitstream Vera Sans", Verdana, sans-serif;
    color: #4F4786;
    font-size: 2.5em;
    letter-spacing: -0.1em;
    margin: 0 0.5em 0 0;
    padding: 0.8em 0 0.5em 0.5em;
}

#logo img {
  margin-right: -0.3em;
}

#logo a:link, #logo a:visited
{
  color: #4F4786;
  text-decoration: none;
}

#logo a:hover, #logo a:active
{
  color: #7f73b7;
  text-decoration: none;
}



#logo img {
    vertical-align: middle;
}

#logo a {
    color: black;
    text-decoration: none;
}

*[dir="rtl"] #logo {
    float: right;
}

#searchform {
	float: right;
	margin: 5px 10px;
	padding: 0;
	white-space: nowrap;
	font-size: 13px;
}

*[dir="rtl"] #searchform {
	float: left;
}

#searchform form div {
    display: inline;
}


/**
  *********************
  NAV BAR
  */

#navibar
{
  margin: 0 0 0 1em;
  padding: 0;
  font-size: 0.9em;
  list-style-type: none;
}

#navibar li
{
  display: block;
  margin: 0;
  padding: 0;
  float: left;
}

#navibar li a
{
  display: block;
}

#navibar li a:link, #navibar li a:visited
{
  text-align: center;
  color: #777;
  background: #eee;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0 0.3em 0 0;
  padding: 0.5em 0.5em 0.35em 0.5em;
  text-decoration: none;
}

#navibar li a:hover, #navibar li a:active, #navibar li.current a:link, #navibar li.current a:visited
{
  color: #4F4786;
  background: #feed93;
  border-right: 1px solid #D4C262;
  border-bottom: 1px solid #D4C262;
  text-decoration: none;
}

#header .editbar {
	border-bottom: 1px dotted #9C9C9C;
}

#message {
	clear: both;
	margin: 0;
	padding: 5px 10px;
	border-bottom: 1px solid #c9c9c9;
	background: #E6EAF0;
}

#message p{
	margin: 5px 0;
	padding: 0;
	font-weight: bold;
  color: red;
}

#message div.buttons {
	font-weight: normal;
}

#textcha {
  font-size: 1.2em;
  font-weight: bold;
}

#textcha-question:before {
  content: "Captcha/Textcha question: ";
}

/* errors from textchas */
#message .info {
  color: red;
  font-size: 1.5em;
}

.dialog form {
    margin: 0 15px;
}

.dialog td {
    border: none;
    padding: 5px;
}

.dialog td.label {
    text-align: right;
    font-weight: bold;
    width: 25%;
}

*[dir="rtl"] .dialog td.label {
    text-align: left;
}

.dialog td.content input {
    width: 100%;
}

#page {
  line-height: 1.3em;
  background: #fff;
  margin: 0;
  padding: 2em 0.9em;
}

/* with sidebar version */
#sidewrap + #page {
  margin: 0;
  padding: 2.5em 19.5em 1.5em 1.5em;

}

/* We use here dumb css1 ids because of IE suckiness */
#editor-textarea, #editor-comment {
    width: 100%;
}

#preview {
	border: 1px solid #6C7680;
	padding: 10px 30px 20px 30px;
	background: url(../img/draft.png);
}


/**
  ******************************
  FOOTER
  */

#clear {
  clear: both;
  height: 10px;
}

/*#footer {
	clear: both;
	margin: 0;
	padding: 0;
}*/

#footer
{
  clear: both;
  background: #eee;
  margin: 0;
  padding: 0;
}

#footer p
{
  color: #888;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
}

#footer a
{
  color: #888;
}

#username {
	border-top: 1px dotted #9C9C9C;
	margin: 0;
	padding: 0 8px;
    padding-left: 14px;
    padding-top: 4px;
    white-space: nowrap;
	height: 26px;
	background: white;
}

*[dir="rtl"] #username {
    text-align: right;
}

#username li {
    display: inline;
    padding: 0 2px;
}

#username li:before {
	content: "| ";
    color: black;
}

#username li:first-child:before {
	content: "";
}

#footer .editbar {
	border-top: 1px dotted #9C9C9C;
	border-bottom: 1px solid #9C9C9C;
}

.editbar {
	margin: 0;
	padding: 0 8px;
	white-space: nowrap;
	height: 26px;
	background: white;
}

.editbar form, .editbar form div {
    display: inline;
	margin: 0;
}

.editbar li {
	float: left;
	display: block;
	padding: 0;
	margin: 2px 6px;
}

*[dir="rtl"] .editbar li {
	float: right;
}

#pagetrail {
	margin: 0;
	padding: 0 10px;
  clear: both;
	margin: 0;
	padding: 0 10px;
	white-space: nowrap;
	height: 26px;
	background: white;
}

#pagetrail li {
	float: left;
	display: block;
	padding: 0;
	margin: 2px 4px;
  background: white;
}

*[dir="rtl"] #pagetrail {
	float: right;
}

*[dir="rtl"] #pagetrail li:after {
	content: " « ";
}

/* XXX Warning: non-ascii characters! */
#pagetrail li:after {
	content: " » ";
	color: black;
}

#new-credits {
  margin-top: 2em;
  margin-left: 10px;
}
  

#credits, #version, #timings{
	margin: 5px 10px;
	padding: 0;
	text-align: center;
	font-size: 0.88em;
	color: #6C7680;
	font-size: 12px;
}

#credits li, #timings li {
	display: inline;
	padding: 0 2px;
	margin: 0 4px;
}

#credits img {
	vertical-align: middle;
}

.diff {
	width:99%;
}

.diff-header {
	font-weight: bold;
}

.diff-title {
	background-color: #C0C0C0;
}

.diff-added {
	background-color: #E0FFE0;
	vertical-align: sub;
}

.diff-removed {
	background-color: #FFFFE0;
	vertical-align: sub;
}

.diff-added span {
	background-color: #80FF80;
}

.diff-removed span {
	background-color: #FFFF80;
}

/*
 * sidebar stuff: entirely new by RP
 */

#sidewrap
{
  background: #E8E7EF url(../images/side-corner-br.png) no-repeat bottom right;
  float: right;
  margin: 1em 2em 0 0; 
  padding: 0;
  width: 16em;
}

* html #sidewrap
{
  margin-right: 1em;
}

#sidebartop
{
  background: transparent url(../images/side-corner-tl.png) no-repeat top left;
  padding: 0;
}

#sidebartop span
{
  display: block;
  margin: 0;
  padding: 0;
  background: transparent url(../images/side-corner-tr.png) no-repeat top right;
}

#sidebar ul,
#sidebar ol,
#sidebar p,
#sidebar h2,
#sidebar h3,
#sidebar h4
{
  margin: 0 0 1em 0;
}

#sidebar
{
  margin: 0;
  padding: 0 1em 1em 1em;
  background: transparent url(../images/side-corner-bl.png) no-repeat bottom left;
}

/**
 * Original text stuff: added by rgrp
 */
a:link, a:visited
{
  color: #4f4786;
}

a:hover, a:active
{
  color: #7f73b7;
}

a.nonexistent:link, a.nonexistent:visited
{
  color: #7f73b7;
}

a.nonexistent, a.html
{
  margin-top: 0;
}


h1,h2,h3,h4
{
  color: #4F4786;
  margin: 1em 0 0 0;
  font-weight: normal;
  line-height: 1.1em;
}

li > p:first-child
{
  margin: 0;
}

ul,ol,p,form,p,blockquote,fieldset,input 
{
  margin: 1em 0 0 0;
}

ul, ol
{
  padding-left: 2em;
}

ul
{
	list-style: square;
}

li ul, li ol
{
  margin: 0.5em 0;
}

a img
{
  border: 0;
}

blockquote
{
  margin: 1em 1em 0 1em;
  padding: 0.2em 1em 1em 1em;
  background: #E8E7EF;
  border-left: 0.5em solid #8579bd;
}

table, table td, table th
{
  background-color: white;
  border: solid black 1px;
  border-collapse: collapse;
  padding: 2px;
}

table
{
  margin-top: 1.5em;
  margin-left: 0.5em;
}

#content td
{
	vertical-align: top;
}

/* project page pictures */
img.projects {
  float: left;
  height: 100px;
  margin: 2px 15px 5px 0;
  padding: 0;
}

/* front page stuff */

div.fpbutton {
  background: #feed93 url(../images/top-linerepeat.png) repeat-x top left;

  font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Lucida", "Bitstream Vera Sans", Verdana, sans-serif;
  color: #4F4786;

  margin: 0;
  margin-bottom: 20px;
  padding: 10px;
  height: 182px;

  border: 1px solid #eee;
}

#topblock img {
  width: 200px;
  float: left;
  margin-right: 30px;
  margin-top: 2%;
}

#topblock p {
  margin-left: 230px;
}

div.fpbutton h3 {
  font-size: 1.5em;
  letter-spacing: -0.1em;
  margin: 0 0.5em 0 0;
  padding: 0.2em 0;
}

#fpcontainer .fpbutton {
  width: 46.5%;
  margin-right: 1%;
  float: left;
}

#fpcontainer .right {
  margin-right: 0;
}

