define contact {
       contact_name                             pagerduty_service_alerts
       contact_groups                           pagerduty_service_alerts
       alias                                    PagerDuty Pseudo-Contact
       service_notification_period              24x7
       host_notification_period                 24x7
       service_notification_options             w,u,c,r
       host_notifications_enabled               0
       host_notification_options                n
       service_notification_commands            notify-service-by-pagerduty
       host_notification_commands               notify-host-by-pagerduty
       pager                                    {{ pagerduty_servicealerts_key }}
}

define contact {
       contact_name                             pagerduty_host_alerts
       contact_groups                           pagerduty_host_alerts
       alias                                    PagerDuty Pseudo-Contact
       service_notifications_enabled            0
       service_notification_options             n
       service_notification_period              24x7
       host_notification_period                 24x7
       host_notification_options                d,r
       service_notification_commands            notify-service-by-pagerduty
       host_notification_commands               notify-host-by-pagerduty
       pager                                    {{ pagerduty_hostalerts_key }}
}

define command {
       command_name     notify-service-by-pagerduty
       command_line     /usr/local/bin/pagerduty_nagios.pl enqueue -f pd_nagios_object=service
}

define command {
       command_name     notify-host-by-pagerduty
       command_line     /usr/local/bin/pagerduty_nagios.pl enqueue -f pd_nagios_object=host
}
