deb http://archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }} main universe
deb-src http://archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }} main universe

deb http://archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }}-security main universe
deb-src http://archive.ubuntu.com/ubuntu/ {{ ansible_distribution_release }}-security main universe   
